* {
    margin: 0;
    padding: 0;
    color : #A4A4A4;
}
nav a {
    text-decoration: none !important;
}
h1 {
    text-align: center;
    display: block;
    font-size: 2.75rem;
}
h2 {
    font-size: 2.25rem;
}
h3 {
    font-size: 1.75rem;
}
p, h4 {
    font-size: 1.25rem;
}
ul {
    padding: 0;
}
.hotel-info-heading {
    font-size: 3rem;
    font-weight: 600;
}
.hotel-info-text {
    font-size: 1.45rem;
    font-weight: 400;
    padding: 3px;
}
body {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("/static/images/e5ce50f326895b9962862d91a81795fa.jpg");
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
}
nav {
    box-shadow: -5px 0 0 5px rgb(0,0,0,0.1);
    font-size: 2.5rem;
    width: 100%;
    height: 10vh;
}
nav ul {
    background-color: #050505;
    display: flex;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
} 
nav li:first-child {
    margin-right: auto;
}
nav li {
    height: 50px;
}
nav a {
    height: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    color: #9FA0A1;
    transition: 0.3s;
}
nav a:hover {
    background-color: gray !important;
}

.header-index {
    background: #434343;
    background-size: 100% 100%;
    width: 100%;
    height: 30vh;
    text-align: center
}
main {
    font-size: 1.5rem;
    width: 1000px;
    height: 80vh;
    color:white;
    align-self: center;
    box-shadow: 0px 0px 10px black;
    background-color: rgba(0, 0, 0, 0.4);
}
.main-index {
    height:auto;
}
.form-container {
    display: flex;
    justify-content: center;
    height: 100%;
}
main > ul > li {
    display: inline-block;
    font-size: 24px;
    font-weight: 700;
    margin:5px;
}
main form {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
}
footer {
    padding: 30px;
    height: 30vh;
    background-color: #050505;
    color: #9FA0A1;
    text-align: center
}
input {
    font-size: 14px;
}
.input-wrapper {
    display: flex;
    flex-direction: column;
}
.input-wrapper label {
    align-self: start;
    font-weight: 700;
}
.login-form, .register-form, .edit-user-form, .change-password-form, .book-room-form {
    width: 500px;
    background-color: rgba(0, 0, 0, 0.2);
}
.login-form-item, .register-form-item, .change-password-form-item, .book-form-item {
    font-size: inherit;
    margin: 5px;
    width: 350px;
    color: white;
    border: solid black;
    border-width: 0 0 3px 0;
    background: transparent;
}
.login-form-item, .register-form-item, .change-password-form, .book-room-form:focus {
    outline: none;
}
.review-container {
    margin-top: 10vh;
}
.review-container * {
    margin: 10px;
}
.review-form {
    flex-direction: row;
    gap: 10px;
}
.review {
    background-color: rgba(0, 0, 0, 0.6);
    width: 80%;
    min-height: 20vh;
    margin: 10px;
    border-radius: 10px;
    border: 1px white solid;
}
.btn-secondary {
    background-color: gray;
    border-radius: 10px;
    width: 250px;
    height: 50px;
    margin: 10px;
}
.choose-type-container {
    flex-direction: column;
    gap: 30px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 22px;
    align-items: start;
    text-align: start;
    width: 30vw;
    height: 100vh;
}
.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 265px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.sidebar li {
    width: 100% !important; 
}
.sidebar li a {
    padding: 0 20px;
}
.sidebar li .capacity-form {
    margin: 0 20px 0 20px;
}
.menu {
    padding: 0 10px 10px 10px;
    display: none;
    align-items: center;
}
.user_bookings_heading {
    margin-left: 5px;
}
.user-infos > li {
    padding: 0;
}
.user_bookings{
    padding-left: 2rem;
}
.formality {
    flex-direction: row;
    background-color: #767676;
    border: 3px dashed rgba(15, 18, 26, 0.927);
    height: auto;
}
.formality * {
    font-size: 17px;
    margin: 10px;
}

mark {
    background-color: rgba(164, 164, 164, 0.5);
    color: black;
}

a:link {
    color: gray;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: rgba(211, 211, 211, 0.5);
    background-color: transparent;
    text-decoration: underline;
}

main a:visited {
    color: gray;
}

.category_box {
    border: #050505 solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 400px;
    justify-content: center;
}

.btn-room {
    background-color: #393939;
    border: #050505 solid;
    border-radius: 10px;
    width: 100px;
    height: 50px;
    margin: 10px;
    color: rgb(180, 180, 180);
}

.btn-room:hover {
    background-color: #707070;
    border: #050505 solid;
    border-radius: 10px;
    width: 100px;
    height: 50px;
    margin: 10px;
}

.btn-ch {
    background-color: #393939;
    border: #050505 solid;
    border-radius: 10px;
    width: 120px;
    height: 50px;
    margin: 5px;
    font-size: 1.2rem;
    background: linear-gradient(90deg, rgba(29,29,29,1) 0%, rgba(0,0,0,1) 100%);
    color: rgb(180, 180, 180);
}

.eco_box {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../images/eco.jpg");
    background-position: 50% 50%;
}

.std_box {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../images/stand.jpg");
    background-position: 50% 50%;
}

.vip_box {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../images/vip.jpg");
    background-position: 50% 50%;
}

.container_room {
    display: flex;
    flex-direction: row;
    align-items: start; 
    justify-content: center;
    padding: 10px;
}

.favors {
    border: 1px solid #050505;
    font-size: 1.5rem;
    border-radius: 17px;
    padding: 10px;
    margin-left: 15px;
}

.legend {
    color: rgb(195, 195, 195);
}

.favors label {
    color: rgb(193, 193, 193);
}

@media(max-width: 1000px){
    .hideOnMobile{
        display: none;
    }
    .menu {
        display: block;
    }
    main {
        margin: 0;
    }

    .header-index {
        height: auto;
    }

    main {
        width: 100%;
    }

    .formality {
        flex-direction: column;
        justify-content: center;
        margin: 0 10px 0 10px;
    }
    .formality * {
        width:50%;
        margin: 5px;
    }
    .review-container {
        margin: 300px 0 0 0;
    }
    .review-form {
        flex-direction: column;
        align-items: start;
    }
    .review-form input[type="number"] {
        width: 20%;
    }
    .review-form input[type="text"] {
        width: 90%;
    }

}