{% extends "booking/base.html" %}


{% block main %}
    <h1>Booking the room {{room.number}}</h1>
    <form method="POST" action="{% url 'book-room' room.id %}">
    {% csrf_token %}
        <input type="text" id="start_time" name="start_time" placeholder="start time">
        <br>
        <input type="text" id="end_time" name="end_time" placeholder="end time">
        <br>
        <input type="hidden" name="room" value="{{room.id}}">
        <button type="submit">Submit</button>
    </form>
{% endblock %}