{% extends "base.html" %}


{% block main %}
<main>
    <section>
        <form method="POST" action="{% url 'book-room' room.id %}" class="book-room-form">
            <h1>Booking the room {{room.number}}</h1>
            {% csrf_token %}
            <fieldset class="input-wrapper">
                <label for="start_time">Start time</label>
                <input type="date" name="start_date" class="book-form-item">
            </fieldset>
            <br>
            <fieldset class="input-wrapper">
                <label for="end_time">End time</label>
                <input type="date" name="end_date" class="book-form-item">
            </fieldset>
            <br>
            <input type="hidden" name="room" value="{{room.id}}">
            <button type="submit" class="btn btn-secondary">Submit</button>
        </form>
    </section>
</main>
{% endblock %}