{% extends "booking/base.html" %}

{% block main %}
<h1>Change password</h1>
<form method="POST" action="{% url 'change-password' user.id %}">
    {% csrf_token %}
    <input type="password" id="password" name="password" placeholder="current password">
    <br>
    <input type="password" name="new_password1" placeholder="new password">
    <br>
    <input type="password" name="new_password2" placeholder="new password again">
    <br>
    <button type="submit">Submit</button>
</form>
{% endblock %}