{% extends "booking/base.html" %}


{% block main %}
    <h1>Login</h1>
    <br>
    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        <input type="text" id="username" name="username" placeholder="username" class="login-form-item">
        <br>
        <input type="password" id="password" name="password" placeholder="password" class="login-form-item">
        <br>
        <button type="submit">Submit</button><br>
        <a href="{% url 'register' %}" class="link-info">Do not have any account?</a>
    </form>
{% endblock %}