{% extends "base.html" %}

{% block main %}
<main>
    <h1> {{hotel}} </h1>
    <form method="POST" action="{% url 'book-room' hotel.id capacity start_date end_date %}" class="choose-type-container">
        {% csrf_token %}
        <label for="eco">eco</label>
        <input type="radio" name="category" id="eco"value=1>
        <label for="standard">standard</label>
        <input type="radio" name="category" id="standard"value=2>
        <label for="vip">vip</label>
        <input type="radio" name="category" id="vip"value=3>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</main>
{% endblock %}