<form method="POST" action="{% url 'search-rooms' %}" class="formality">
    {% csrf_token %}
    <label for="city">City:</label>
    <select name="city">
        <option disabled="disabled" selected="selected"></option>
        <option value=1>Kyiv</option>
        <option value=2>Ternopil</option>
        <option value=3>Ivano-Frankivsk</option>
    </select>
    <label for="human_amount">Number of guests:</label>
    <select name="human_amount">
        <option disabled="disabled" selected="selected"></option>
        <option value=1>1</option>
        <option value=2>2</option>
        <option value=3>3</option>
        <option value=4>4</option>
    </select>
    <label for="startdate">From:</label>
    <input type="date" name="start_date">
    <label for="enddate">To:</label>
    <input type="date" name="enddate">
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
    
