<form method="POST" action="" class="formality">
    {% csrf_token %}
    <p>City:</p>
    <select name="misto">
        <option disabled="disabled" selected="selected"></option>
        <option>Київ</option>
        <option>Тернопіль</option>
        <option>Франик</option>
    </select>
    <p>Number of guests:</p>
    <select name="human_amount">
        <option disabled="disabled" selected="selected"></option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4+</option>
    </select>
    <p>From:</p>
    <input type="date" name="date">
    <p>To:</p>
    <input type="date" name="date">
    <button type="submit">Submit</button>
</form>
    
